* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  


  body {
    font-family: sans-serif;
    color: #333;
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, #03d9ff, #2f73f1);
  }

  .moreInfo {
  
    width: 50%;
    height: 80%;
    cursor:default;
    background-color: rgb(128, 226, 243);
    padding: 6rem;
    border-radius: 10px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 6;
    box-shadow: 2px 2px 10px ;
    opacity: 0.8;
    background: radial-gradient(rgba(54, 218, 240, 0.999), rgba(128, 226, 243, 0.5));
  }

  

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;

  }

  .close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
  }

  .mainPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 500px;
    font-size: 2rem;
    padding: 1rem 2rem;
    margin: 2rem 2rem;
    border: none;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    color: #444;
    border-radius: 3rem;
    position: absolute;

    box-shadow: 2px 2px 10px ;
    background: radial-gradient(rgba(255, 255, 230, 0.999), rgba(255, 255, 230, 0.2));
  }

  #geoLoc {
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
  }

  #temp {
    display: block;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-size: 5rem;
  }
  
  infoHeader {
    display: inline;
    text-align: center;
    justify-content: center;
    font-size: 300%;
    margin-bottom: 2rem;
  }
  errorHeader {
    padding: 35rem 0;
    text-align: center;
    font-size: 300%;
    margin-bottom: 2rem;
  }
  
  p {
    
    font-size: 1.8rem;
  }
  
  /* -------------------------- */
  /* CLASSES TO MAKE MODAL WORK */
  .hidden {
    display: none;
  }
  
  

  
